#layout {
	padding: 0;
}

h2 {
	margin: 0;
	padding: .5em 0;
}
h3 {
	margin: 0;
}
h4 {
	margin: 0;
}
a {
    text-decoration: none;
    color: #555;
    font-style: italic;
}
a:hover {
    color: #777;
}
a:visited {
    color: #777;
}
em {
	font-weight: 300;
}

.pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
	background-color: transparent;
}

.content {
	padding: 2em 2em 0;
}
.content li {
    list-style: circle;
    margin-bottom: 0.5em;
}
.body {
	margin-top: 2em;
}
.sidebar {
	padding: 2em 1em 0;
}
.footer {
	font-size: 70%;
	color: #777;
	padding: 2em 1em 0;
}

.profile-image {
	float: right; 
	margin-top: .5em;
	width: 100%;
}
.address {
	font-style: italic;
	color: #777;
}
.caption {
	font-size: 90%;
	font-style: italic;
	padding-top: 0.5em;
	text-align: center;
}
